@font-face {
  font-family: 'icomoon';
  src: url('../fonts/icomoon.eot');
  src: url('../fonts/icomoon.eot#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf') format('truetype'),
    url('../fonts/icomoon.woff') format('woff'),
    url('../fonts/icomoon.svg#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"],
[class*=" icon-"] {
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


.icon-paint:before {
  content: "\e909";
}

.icon-image-gallery:before {
  content: "\e90b";
}

.icon-quotation:before {
  content: "\e90d";
}

.icon-like:before {
  content: "\e90e";
}

.icon-bathroom:before {
  content: "\e90f";
}

.icon-expert:before {
  content: "\e910";
}

.icon-list:before {
  content: "\e911";
}

.icon-experts:before {
  content: "\e912";
}

.icon-image-gallery-1:before {
  content: "\e927";
}

.icon-magnifying-glass:before {
  content: "\e926";
}

.icon-phone-call:before {
  content: "\e900";
}

.icon-location:before {
  content: "\e901";
}

.icon-high-quality:before {
  content: "\e903";
}

.icon-mind:before {
  content: "\e905";
}

.icon-wallpaper:before {
  content: "\e902";
}

.icon-wallpaper-1:before {
  content: "\e904";
}

.icon-wallpaper-2:before {
  content: "\e906";
}

.icon-wallpaper-3:before {
  content: "\e908";
}

.icon-wallpaper-4:before {
  content: "\e90a";
}

.icon-wallpaper-5:before {
  content: "\e90c";
}

.icon-wallpaper-6:before {
  content: "\e913";
}

.icon-wallpaper-7:before {
  content: "\e920";
}

.icon-email:before {
  content: "\e914";
}

.icon-pin:before {
  content: "\e915";
}

.icon-designer:before {
  content: "\e925";
}

.icon-checked:before {
  content: "\e916";
}

.icon-house:before {
  content: "\e917";
}

.icon-paint-palette:before {
  content: "\e91c";
}

.icon-confirmation:before {
  content: "\e91d";
}

.icon-plus-symbol:before {
  content: "\e91e";
}

.icon-furnitures:before {
  content: "\e91f";
}

.icon-terrace:before {
  content: "\e921";
}

.icon-wallpaper-8:before {
  content: "\e923";
}

.icon-message:before {
  content: "\e924";
}

.icon-price:before {
  content: "\e907";
}

.icon-handshake:before {
  content: "\e918";
}

.icon-apartment:before {
  content: "\e919";
}

.icon-good-review:before {
  content: "\e91a";
}

.icon-award:before {
  content: "\e91b";
}

.icon-long-paper-roll:before {
  content: "\e922";
}